*
{
    margin : 0;
    padding :0;
}
body{
    background-color : black;
    
}
#contenido{
    width: 1000 px;
    height: 700 px;
    border: 1 px white;
    background-color: red;
    margin: 0 auto;
}
#header{
    width: 900px;
    height: 150px;
    background-color: rgb(36px, 12px, 11px);
}
#menu{
    width: 900px;
    height: 50px;
    background-color: rgb(12px, 44px,34px);
}
#centro{
    width: 900px;
    height: 150px;
    background-color : rgb(26px, 12px, 10px);
}
#footer{
    width: 900px;
    height: 50px;
    background-color : rgb(23px, 45px, 11px);

}